@import url(//db.onlinewebfonts.com/c/623c7118249e082fe87a78e08506cb4b?family=Segoe+UI);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

html {
  min-height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
}

body{
  height:100%; /* force the BODY element to match the height of the HTML element */
}

::placeholder { 
  color: var(--placeholder);
}

#main {
  margin-left: 220px;
  margin-top: 100px;
  text-align: center;
  transition: 500ms;
}

.expand {
  margin-left: 120px !important;
}

.impact {
  font-weight: bold;
  font-size: 30px;
}

.action-button {
  background: var(--primary-color);
  border-radius: 5px;
  padding: 10px 45px 10px 45px;
  width: 140px;
  color: white;
}

button,
button:active,
button:focus {
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  -moz-outline-style: none;
}

button:hover {
  background: var(--primary-variant);
}


input, .select {
  border: 1px solid var(--placeholder);
  border-radius: 4px;
  padding: 5px;
  padding-left: 10px;
  outline: none;
}

input:focus {
  border-color: var(--primary-color); 
}


.errorMessage {
  color: var(--error);
  margin-top: 0.5rem;
  font-size: 0.7rem;
}

.error {
  color: var(--error);
  font-weight: lighter !important;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  width: 250px;
  height: 35px;
}

/* form */


.grid {
  font-family: "Reem Kufi", sans-serif;
  margin: 0 auto;
  margin-top: 20px;
  background: white;
  border-radius: 2px;
  border-collapse: collapse; /*delete inner border*/
  box-shadow: 0 0.1px 5px var(--accent);
  width: 95%;
}

/* .header-grid  {
  box-shadow: 0 4px 8px -2px #d8d8d8;
} */

.header-grid tr th {
  height: 71px;
  padding: 25px 0;
  background-color: #ecf3ff;
}

tbody {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

tbody tr:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

tbody tr td {
  height: 71px;
  padding: 25px 10px;
}

tbody tr:nth-child(even) {
  background-color: #ecf3ff;
}

td:nth-child(2) {
  padding-left: 0px;
}

.imgIcon {
  margin-top: 15px;
  width: 30px;
  height: 30px;
}
.non-editable {
  margin-top: -34px;
  margin-left: 41px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 165px;
  background: var(--accent);
  color: white;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
}
.dropdownSelect {
  /* position: absolute; */
  left: 141px;
  background-color: #f6f6f6;
  padding: 12px 16px;
  width: 252px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  cursor: pointer;
}
.dropdownSelectobras {
  position: absolute; 
  left: 141px;
  background-color: #f6f6f6;
  padding: 12px 16px;
  width: 252px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  cursor: pointer;
}
.dropdownSelect:hover {
  background-color: #ddd;
}
.label {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
.label.success {
  background: var(--success);
}
.label.error {
  background: var(--error);
} 

.relative {
  position: relative;
}